[submodule "janus/java-getset"]
	path = janus/java-getset
	url = https://github.com/vim-scripts/java_getset.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
