[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-pathogen"]
  path = vim/bundle/vim-pathogen
  url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/colors/molokai"]
  path = vim/colors/molokai
  url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/ack.vim"]
  path = vim/bundle/ack.vim
  url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ctrlp.vim"]
  path = vim/bundle/ctrlp.vim
  url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-ruby"]
  path = vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/tcomment_vim"]
  path = vim/bundle/tcomment_vim
  url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
