alias ctags="`brew --prefix`/bin/ctags"
alias ackr="ack --type=ruby"
alias gca="git commit --amend"
gap() { git ls-files -o -m --exclude-standard |grep "$@" | xargs git add }
gdp() { git ls-files -o -m --exclude-standard |grep "$@" | xargs git diff }
alias rvmgd='cd $(rvm gemdir)/gems'
sknife() { knife ssh $@ -x chefrun }
alias vim='mvim -v'
alias view='mview -v'
alias bundleinit='bundle install --path bundle --binstubs bundle/bin --jobs 4'
alias bowergem='rake app:bower:install:development'
